.personalCard {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid black;
}

.personalInfoContainer {
  display: flex;
  gap: 50px;
  padding: 20px 40px;
}

.personalPhotoContainer {
  width: 150px;
  height: 150px;
}

.personalPhotoContainer > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataContainer > a {
  width: fit-content;
  transition: transform 0.2s;
}

.dataContainer > a:hover {
  transform: scale(1.1);
}

.dataContainer > h2 {
  border-bottom: 2px solid black;
}

.EmailContainer,
.linkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.EmailContainer > img,
.linkContainer > img {
  width: 30px;
  height: 30px;
}

.skillContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
  gap: 20px;
}

.skillContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillContainer > div > img {
  width: 30px;
  height: 30px;
}
