.webProjects {
  align-self: center;
  margin-top: 80px;
}

.webProjectsTitle {
  font-size: 50px;
  font-weight: 700;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 90px;
}

.projectDataContainer {
  display: flex;
  gap: 30px;
}

.projectDataContainerRight {
  flex-direction: row-reverse;
}

.projectImageContainer {
  width: 600px;
  height: 300px;
  box-shadow: 2px 2px 4px 4px #0000003b;
}

.projectImageContainer > img {
  width: 100%;
  height: 100%;
}

.projectDescription > h2 {
  margin-bottom: 10px;
}

.projectDescription > h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.projectDescription > ul > li {
  margin-left: 30px;
}

.linksContainer {
  display: flex;
  align-content: center;
  gap: 30px;
  margin-top: 15px;
}

.linksContainer > a {
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  gap: 5px;
}

.linksContainer > a:hover {
  transform: scale(1.1);
}

.linksContainer > a > img {
  width: 30px;
  height: 30px;
}

.techStackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.techStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techStack > img {
  width: 30px;
  height: 30px;
}

@media (max-width: 500px) {
  .webProjects {
    margin-top: 10px;
  }

  .webProjectsTitle {
    text-align: center;
  }

  .project {
    margin-bottom: 50px;
  }

  .projectDataContainer {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .projectImageContainer {
    width: 300px;
    max-height: fit-content;
  }

  .projectDescription > h2,
  .projectDescription > p,
  .projectDescription > .linksContainer {
    justify-self: center;
  }
}
